body{
    background-color: #FFF0D6;
}


p{
    color:black;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 1rem;
    font-family: Marianne, Arial, sans-serif;
    line-height: 1.7rem;
    text-align: justify;
    border: 2px solid black;
    padding: .5%;
    
}


.titre{
    text-align: left;
    margin-left: 26%;
    text-decoration: underline;
    position: relative;
    
}


c{
    font-size: 7px;

}



