
body{
    background-color: #FFF0D6;
}

h1{
    text-align: center;
    color: black;
    font-size: max(33px, calc(1.2vw + 1.2vw));
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    text-transform: uppercase;
}



.kolok{
    text-align: center;
}

h2{
    font-size: max(20px, calc(0.82vw + 0.82vw));
}


p{
    color:black;
    width: 100%;
    margin: 0px auto;
    font-size: 1rem;
    font-family: Marianne, Arial, sans-serif;
    line-height: 1.7rem;
    text-align: left;
    border: 2px solid black;
    padding: .5%;
    max-width: 60rem;
    box-sizing: border-box;
}

figure{
    width: min-content;
    background-color: white;
    margin: 30px auto;
    text-align: center;
}

figcaption{
    border-top: 100px solid black;
    text-transform: uppercase;
    text-decoration: underline 4px;
}



@media (max-width: 700px){

    p{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;

    }

    figure{
        width: 100%;
        margin: 0;
        padding: 0;
    
    }

}



