body{
    /* background-image: url("img/photo-herisson_homepage.jpg"); */
    /* background-color: green; */
    background-size: cover;
    height: 100vh;
    background-position: 70%;
}

a{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.bg{
    background-color: green;
    height: 100vh;
}

.categorie a{
    text-decoration: 1px solid green;
}


main{
    position: relative;
    height: 400px;
}

.navbox{
    background-color: black;
    color: green;
    width: 50px;
    height: 50px;
}

.navbox:hover .nav{
    display: block;
    background-color: #000;
    
}

.nav{
    position: absolute;
    width: fit-content;
    padding-right: 30px;
    height: fit-content;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 15px;
    display: none;
    top: 50px;

}

.nav ul{
    list-style: none;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.nav li{
    margin-top: 25px;
}







@media (max-width:822px) {
    .bg{
        background-color: red;
    }
}


img{
    width: 80px;
}
/* 
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 70%;
    margin: 0;
    padding: 0;
}

ul li, ul li a{
    width: 100%;
}
li,a{
    margin: 0px auto;
}
li{
    display: block;
    background-color: lightblue;
    margin: 0px; */








